*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url("./assets/gradient-bg.jpg");
}

.game-info {
    color: white;
    border-radius: 1rem;
    border: 1px solid rgb(152, 188, 188);
    background-color: rgb(85, 92, 92);
    text-align: center;
    padding: 0.5rem 3rem;
}

.tic-tac-toe {
    width: 90%;
    max-width: 20rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    border: 1px solid rgb(152, 188, 188);
    font-size: 2rem;
    font-weight: 600;
}

.box {
    position: relative;
    cursor: pointer;
    aspect-ratio: 1/1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1,
.box2,
.box4,
.box5,
.box7,
.box8 {
    border-right: 1px solid white;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
    border-bottom: 1px solid white;
}

.btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(85, 92, 92);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    /* display: none; */
    transition: all 0.3s ease;
    transform: scale(0);
}

.btn.active{
    /* display: block; */
    transform: scale(1);
}

.win {
    background-color: rgb(43, 225, 43);
}